</div>
<div class="demo-row">
<section class="pitch-panel text-flow">
    <h3>No need for routine.</h3>
    <p class="pitch-text">Even with frequent notifications, it’s easy to forget about your language learning apps. Well now you can forget about them for good! With Yomi-kaeru you can take the learning with you all across the web. Whether you’re scrolling through social media, answering emails, or reading the news, Yomi-kaeru will strategically intersperse translated words into the content you already consume, giving you passive exposure to the language you want to learn.</p>
</section>
    <div class="demo">
        <div class="content text-flow">
            Here is some sample text to demonstrate the translation feature. If <span class="translated-word" data-index="0">カーソルを合わせる</span> hover over a translated <span class="translated-word" data-index="1">単語</span>, you can <span class="translated-word" data-index="2">見る</span> additional info about the <span class="translated-word" data-index="3">単語</span>. You can toggle an entry to swap it <span class="translated-word" data-index="4">代替</span> for the original English, or for its phonetic pronunciation.

            Now for an excerpt from a popular Japanese folktale: Momotaro.

            "Long ago, in a <span class="translated-word" data-index="5">小さい</span> <span class="translated-word" data-index="6">村</span> in <span class="translated-word" data-index="7">日本</span>, an <span class="translated-word" data-index="8">年老いた</span> <span class="translated-word" data-index="9">男</span> and <span class="translated-word" data-index="10">女</span> lived together by the mountains. The <span class="translated-word" data-index="11">男</span> went <span class="translated-word" data-index="12">出かける</span> <span class="translated-word" data-index="13">毎日</span> <span class="translated-word" data-index="14">日</span> to <span class="translated-word" data-index="15">切る</span> <span class="translated-word" data-index="16">草</span> and <span class="translated-word" data-index="17">集める</span> firewood, while the <span class="translated-word" data-index="18">女</span> stayed <span class="translated-word" data-index="19">家</span> to wash <span class="translated-word" data-index="20">服</span> and cook meals. Though they were kind and hardworking, they had no children, and this made them very <span class="translated-word" data-index="21">悲しい</span>."
        </div>
    </div>						
</div>
</div>
</main>
<script src="js/index.js"></script>
<script>
    const frogSVG = document.querySelector(".frog-svg");
    setTimeout(() => frogSVG.classList.remove("frog-down"), 500);
</script>
</body>
</html>