</div>
<div class="demo-row">
<section class="pitch-panel text-flow">
    <h3>No need for routine.</h3>
    <p class="pitch-text">Even with frequent notifications, it’s easy to forget about your language learning apps. Well now you can forget about them for good! With Yomi-kaeru you can take the learning with you all across the web. Whether you’re scrolling through social media, answering emails, or reading the news, Yomi-kaeru will strategically intersperse translated words into the content you already consume, giving you passive exposure to the language you want to learn.</p>
</section>
    <div class="demo">
        <div class="content text-flow">
            Here is some sample text to demonstrate the translation feature. If you hover over a translated <span class="translated-word" data-index="1" data-language="japanese">単語</span>, you can <span class="translated-word" data-index="2" data-language="japanese">見る</span> additional info about the <span class="translated-word" data-index="3" data-language="japanese">単語</span>. You can toggle an entry to swap it out for the original English, or for its phonetic pronunciation (known in Japanese as "romaji"). Now for an excerpt from a popular Japanese folktale: Momotaro.
            <br/>
            "Long ago, in a <span class="translated-word" data-index="5" data-language="japanese">小さい</span> <span class="translated-word" data-index="6" data-language="japanese">村</span> in <span class="translated-word" data-index="7" data-language="japanese">日本</span>, an <span class="translated-word" data-index="8" data-language="japanese">年老いた</span> <span class="translated-word" data-index="9" data-language="japanese">男</span> and <span class="translated-word" data-index="10" data-language="japanese">女</span> lived together by the mountains. The <span class="translated-word" data-index="11" data-language="japanese">男</span> went <span class="translated-word" data-index="12" data-language="japanese">出かける</span> <span class="translated-word" data-index="13" data-language="japanese">毎日</span> to <span class="translated-word" data-index="15" data-language="japanese">切る</span> <span class="translated-word" data-index="16" data-language="japanese">草</span> and <span class="translated-word" data-index="17" data-language="japanese">集める</span> firewood, while the <span class="translated-word" data-index="18" data-language="japanese">女</span> stayed <span class="translated-word" data-index="19" data-language="japanese">家</span> to wash <span class="translated-word" data-index="20" data-language="japanese">服</span> and cook meals. Though they were kind and hardworking, they had no children, and this made them very <span class="translated-word" data-index="21" data-language="japanese">悲しい</span>."
        </div>
    </div>						
</div>
</div>
</main>
<div id="info-popup">
    <div class="popup-content">
        <span>Japanese: <span id="japanese-reading"></span></span>
        <span>English: <span id="english-reading"></span></span>
        <span>Romaji: <span id="romaji-reading"></span></span>
    </div>
</div>
<script src="js/index.js"></script>
<script>
    const frogSVG = document.querySelector(".frog-svg");
    setTimeout(() => frogSVG.classList.remove("frog-down"), 500);
</script>
</body>
</html>