</div>
<div class="demo-row">
<section class="pitch-panel text-flow">
    <h3>No need for routine.</h3>
    <p class="pitch-text">Even with frequent notifications, it’s easy to forget about your language learning apps. Well now you can forget about them for good! With Yomi-kaeru you can take the learning with you all across the web. Whether you’re scrolling through social media, answering emails, or reading the news, Yomi-kaeru will strategically intersperse translated words into the content you already consume, giving you passive exposure to the language you want to learn.</p>
</section>
    <div class="demo">
        <div class="content text-flow">
            <p>Here is some sample text to demonstrate the translation feature. If you hover over a translated <span class="translated-word">言</span>, you can see additional info about the word. You can toggle an entry to swap it out for the original English, or for its phonetic pronunciation.</p>
            <p>Now for an excerpt from a popular Japanese folktale: Momotaro.</p>
            <p>"Long ago, in a small village in Japan, an old man and woman lived together by the mountains. The man went out every day to cut grass and gather firewood, while the woman stayed home to wash clothes and cook meals. Though they were kind and hardworking, they had no children, and this made them very sad.</p>
            <!-- <p>One day, while the old woman was washing clothes at the river, she saw something round and pink floating toward her. It was a giant peach, bigger than any she had ever seen!"</p> -->
        </div>
    </div>						
</div>
</div>
</main>
<script>
    const frogSVG = document.querySelector(".frog-svg");
    setTimeout(() => frogSVG.classList.remove("frog-down"), 500);
</script>
</body>
</html>