<%- include('partials/landingPageTop') -%>
<section>
	<h2>Learn a new language without even noticing.</h2>
	<a href="/signup"><button class="primary-button">Get Started</button></a>
	<button>Download</button>
</section>
<%- include('partials/landingPageBottom') -%>